// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideshow {
    width: 1300px;
    height: 600px;
}

h1 {
    padding: 100px 0;
    text-align: center;
    font-size: 60px;
}

.slideshow img {
    width: 1300px;
    height: 600px;
}

